# Temel kütüphaneler
python-telegram-bot==21.4
ccxt==4.2.85
pandas==2.2.1
numpy==1.24.4
ta-lib==0.4.28
tensorflow==2.15.0
scikit-learn==1.4.1.post1
joblib==1.3.2
apscheduler==3.10.4
nest_asyncio==1.6.0
python-dotenv==1.0.1

# Logging ve yardımcı kütüphaneler
sqlite3  # Python ile yerleşik gelir, manuel eklenmez
