# Core
numpy==1.23.5
pandas==1.5.3
python-dotenv==1.0.0

# Trading
ccxt==4.2.43
talib==0.4.24

# Machine Learning
scikit-learn==1.2.2
tensorflow==2.10.1
keras==2.10.0
joblib==1.2.0

# Async & Utilities
nest-asyncio==1.5.8
apscheduler==3.10.1

# Telegram
python-telegram-bot==20.3

# Database
sqlalchemy==2.0.19
